@model DescricaoJogoModel
@{
    ViewBag.Title = "Descricao Jogo";
}

<h2>Descrição do jogo: @Model.Nome</h2>

<form width="700px" height="300px" class="clearfix">
    <div class="pull-left">
        <img src="@Model.Imagem" height="300px" style="margin: 0px 25px 25px" />
    </div>
    <p style="text-align:justify">Descrição : <br />@Model.Descricao</p>
    <p>Categoria : @Model.Categoria</p>
    <p>Selo : @Model.Selo</p>    
</form>
@if (Model.Video != null)
{
    @Html.Raw(Model.Video);
}
