@model RelatorioJogosModel
@{
    ViewBag.Title = "Situação dos jogos";
}

<h2>Situação dos jogos</h2>

@if (Model.QuantidadeDeJogos > 0)
{
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 40%">Jogo</th>            
                <th style="width: 30%">Categoria</th>
                <th style="width: 15%">Preço</th>
                <th style="width: 15%">Ação</th>
            </tr>
        </thead>
        @foreach (var jogo in @Model.ListaDeJogos)
        {
            <tr onclick="window.location='@Url.Action("DescricaoJogo", "Relatorio", new { id = jogo.Id })'">
                <td>@jogo.Nome</td>
                <td>@jogo.Categoria</td>
                <td>@jogo.Selo.Preco.ToString("c")</td>
                <td>@Html.Partial("Situacao", jogo)</td>
            </tr>
        }    

    </table>
    <p>Totais de jogos: @Model.QuantidadeDeJogos</p>
    <br /><br />
    if(ControleDeSessao.UsuarioLogado.TemPermissao(Locadora.Dominio.Permissao.ADMIN)) {<a href="~/Jogo/Index">Gerenciar jogos</a>}
} 
else 
{
    <h3>Nenhum jogo encontrado.</h3>
}